@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
}

html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    background-color: #E9EBEE;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.header__logo{
    width: 10%;
}

.header__logo img{
    width: 100%;
    object-fit: cover;
}

.header-wrapper{
    display: flex;
    align-items: center;
}

.header-wrapper input{
    width: 180px;
    min-height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    outline: none;
    font-size: 1.3rem;
    transition: .4s;
    border: 1px solid #CED0D4;
    margin-right: 10px;
}
.header-wrapper input:hover{
    border-color: #8A8D91;
}
.header-wrapper input:focus{
    border-color: hsl(214, 89%, 52%);
}

.header-wrapper input::placeholder{
    color: #8A8D91;
}
.header-wrapper input:focus::placeholder{
    color: #BEC3C6;
}

.header-wrapper button,.button_wrap button{
    padding: 10px;
    border-radius: 5px;
    border:none;
    background: #1B74E4;
    color: #fff;
    cursor: pointer;
}

.header-wrapper a{
    color: #216FDB;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 20px;
  }
.header-wrapper a:hover{
    text-decoration: underline;
  }

.body{
    margin: 100px auto auto;
    max-width: 500px;
    min-height: 250px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
    border: none;
    border-radius: 8px;
}

.body h1{
    font-size: 2rem;
    line-height: 24px;
    padding: 18px 16px 18px 18px;
    border-bottom: 1px solid #CED0D4;
}

.body>p{
    font-size: 1.7rem;
    line-height: 20px;
    padding: 18px 16px 18px 18px;
    font-weight: 500;
}

.body form{
    padding: 0 20px 20px;
}

.body input{
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    padding-left: 15px;
    outline: none;
    font-size: 1.6rem;
    font-weight: 500;
    transition: .4s;
    border: 1px solid #CED0D4;
    margin-bottom: 20px;
}
.body input:hover{
    border-color: #8A8D91;
}
.body input:focus{
    border-color: hsl(214, 89%, 52%);
}

.bodyinput::placeholder{
    color: #8A8D91;
}
.body input:focus::placeholder{
    color: #BEC3C6;
}
.button_wrap{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button_wrap a{
    background-color: #e4e6eb;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 36px;
    margin-right: 8px;
    padding: 0 20px;
    font-weight: 500;
}

.error{
    background-color: #ffebe8;
    border: 1px solid #dd3c10;
    padding: 10px;
    margin: 10px;
}

.error h2{
    font-size: 1.5rem;
    line-height: 20px;
    margin-bottom: 4px;
}

.error p{
    font-size: 1.1rem;
}

@media screen and (max-width: 768px){
    .header-wrapper{
        display: none;
    }

    .header__logo{
        width: 15%;
    }

    .body{
        margin: 75px auto auto;
    }
}

@media screen and (max-width: 460px){
    .header__logo{
        width: 25%;
    }
    .body{
        margin: 50px auto auto;
    }
}